* {
    background-color: black;
}


div {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-top: 100px;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Libre Baskerville', 'sans-serif';
    text-transform: uppercase;
}


p {
    color: white;
    /* text-align: center; */
    font-family: 'Libre Baskerville', 'sans-serif';
    text-align: center;

}

img {
    /* display: block; */
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    border: white 5px solid;
}