* {
    background-color: black;
}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 25px;
}

h1,h2:not([id]) {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.color-title {
    font-weight: normal;
}

#red {
    color: red;
    text-indent: 90px;
}

#blue {
    color: blue;
    text-indent: 90px;
}

#orange {
    color: orange;
    text-indent: 60px;
}

#yellow {
    color: yellow;
    text-indent: 75px;
}

#green {
    color: green;
    text-indent: 90px;
}